a {
  margin: 10px;
}

a:link {
  /* Applies to all unvisited links */
  text-decoration: underline;
  color: blue;
}
a:visited {
  /* Applies to all visited links */
  text-decoration: underline;
  color: #f0f;
}
a:hover {
  /* Applies to links under the pointer */
  text-decoration: none;
  color: black;
}
a:active {
  /* Applies to activated links */
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}
